---
import DaysList from '../components/DaysList.jsx';
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resumen de Newsletters por Día</title>
  </head>
  <body>
    <!-- El componente DaysList se carga como isla para interactividad en el cliente -->
    <DaysList client:load />
  </body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
